@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

@font-face {
  font-family: 'Coral Colour';
  src: url('./assets/fonts/coral_colour/Coral Colour.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Fort Avenue';
  src: url('./assets/fonts/fort_avenue/FORT-AVENUE.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --radius: 0.625rem;
  --background: #ffffff;
  --foreground: #000000;
  --card: #ffffff;
  --card-foreground: #000000;
  --popover: #ffffff;
  --popover-foreground: #000000;
  --primary: #ff14b2;
  --primary-foreground: #ffffff;
  --secondary: #030223;
  --secondary-foreground: #ffffff;
  --muted: #c6c6c6;
  --muted-foreground: #373737;
  --accent: #ff8cb0;
  --accent-foreground: #000000;
  --destructive: oklch(0.577 0.245 27.325);
  --border: #c6c6c6;
  --input: #c6c6c6;
  --ring: #ff14b2;
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: #ffffff;
  --sidebar-foreground: #000000;
  --sidebar-primary: #ff14b2;
  --sidebar-primary-foreground: #ffffff;
  --sidebar-accent: #ff8cb0;
  --sidebar-accent-foreground: #000000;
  --sidebar-border: #c6c6c6;
  --sidebar-ring: #ff14b2;
}

@theme inline {
  --font-inter: 'Inter', sans-serif;
  --font-gabarito: 'Gabarito', sans-serif;
  --font-coral: 'Coral Colour', sans-serif;
  --font-fort: 'Fort Avenue', sans-serif;

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

.dark {
  --background: #161616;
  --foreground: #ffffff;
  --card: #3d3d3d;
  --card-foreground: #ffffff;
  --popover: #161616;
  --popover-foreground: #ffffff;
  --primary: #ff14b2;
  --primary-foreground: #ffffff;
  --secondary: #ffffff73;
  --secondary-foreground: #ffffff;
  --muted: #3d3d3d;
  --muted-foreground: #c6c6c6;
  --accent: #ff14b266;
  --accent-foreground: #ffffff;
  --destructive: oklch(0.704 0.191 22.216);
  --border: #3d3d3d;
  --input: #434343;
  --ring: #ff14b2;
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: #161616;
  --sidebar-foreground: #ffffff;
  --sidebar-primary: #ff14b2;
  --sidebar-primary-foreground: #ffffff;
  --sidebar-accent: #3d3d3d;
  --sidebar-accent-foreground: #ffffff;
  --sidebar-border: #3d3d3d;
  --sidebar-ring: #ff14b2;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
